#disc-container {
  margin-top: 60px;
}
#content-body {
  margin-top: 50px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  background: #eeeeee;
  /* Old browsers */

  -webkit-border-radius: 7px;
  border-radius: 7px;
}
#new_disc {
  margin-top: 20px;
}
.ui-table {
  list-style: none;
  text-decoration: none;
  margin: 0;
}
.ui-table:hover {
  text-decoration: none;
  list-style-position: none;
}
.ui-table .ui-cell {
  padding: 5px;
  height: 80px;
  border: 1px solid #bbbbbb;
  background: #eeeeee;
  /* Old browsers */

  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  /* IE6-9 */

}
.ui-table .ui-cell:hover {
  text-decoration: none;
  list-style-position: none;
}
.ui-table .ui-cell img {
  float: left;
  width: 72px;
  height: 72px;
  margin: 4px;
  border: 1px solid #a8a8a8;
}
.ui-table .ui-cell .title div {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #cacaca;
  font-size: 16px;
  font-weight: bold;
  /*display:block;*/

  margin: 0;
  margin-left: 85px;
  margin-right: 110px;
  /*text-align: left;*/

}
.ui-table .ui-cell .btn-show {
  float: right;
  margin-right: 7px;
  /*margin-top: 25px;*/

}
.ui-table .ui-cell p {
  margin-top: 0;
}
.ui-table .ui-cell p:hover {
  text-decoration: none;
  list-style-position: none;
}
.ui-table .ui-cell .btn-delete {
  float: right;
  top: 10px;
  right: 10px;
}
